section{
    width: 800px;
    height: 600px;
    margin: auto;
    padding: 10%;
}
.image-color {
    background: #a1e4cc;
    color:#FFFFFF;
}
.image-circle   {
    border-radius: 50%;
}
svg{
    width: 100px;
    height: 100px;
}
#photo{
    width:400px;
    height: 400px;
    float: left;
}
#office{
    font-size: 3rem;
    float: left;
    padding-top: 30%;
    margin-left: -100px;
}
#name{
    width: 400px;
    text-align: center;
    padding: 5% 0%;
}
#officeName{
    font-size: 2rem;
    text-align: center;
}
.job{
    float: left;
    width: 400px;
}
.title-color{
    color: #4b7e6c;
    font-size: 1.9em;
    text-align: center;
}
#contact{
    font-size: 1.7em;
    text-align: center;
    padding: 10px;
}
.certificate{
    text-align: center;
}